html {
    margin:0;
    background-color: #2f2453;
    color: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 60pt;
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    align-items: center;
    justify-content: center;
}

section#clock {
    vertical-align: middle;
    text-align: center;
    width:100%;
}